:root {
    --cor-primaria: #73C7E3; /* Azul Claro Vibrante */
    --cor-secundaria: #FFF9EF; /* Branco Amarelado */
    --cor-terciaria: #1a2f4d; /* Azul Escuro Saturado */
    --cor-fundo: #F0F2F1; /* Cinza Claro Neutro */
    --cor-destaque: #CF8A3F; /* Marrom Dourado */
}
